* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #36b35b;
    color: #e36b6b;
}

header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

button {
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    color: red;
}